aiocryptopay
aiofiles
aiogram
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
attrs
cachetools
certifi
charset-normalizer
frozenlist
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
hiredis
httplib2
idna
magic-filter
multidict
oauthlib
propcache
proto-plus
protobuf
pyaes
pyasn1
pyasn1-modules
pydantic
pydantic-core
pyparsing
Pyrogram
PySocks
pytz
redis
requests
requests-oauthlib
rsa
StrEnum
typing-extensions
uritemplate
urllib3
yarl
httpx
yadisk
cryptography
grpcio
packaging
cffi
oauth2client
grpcio-status
PyYAML
six
